<div class="container">
  <div class="p-4 text-center mb-2">
    <img width="260px" src="../../../../assets/images/crescer.png" />
  </div>
  <form
    *ngIf="form"
    [formGroup]="form"
    class="p-4 row justify-content-center"
    autocomplete="off"
  >
    <div class="col-12">
      <span class="p-float-label">
        <input
          id="email"
          class="col-12"
          type="text"
          pInputText
          [formControl]="form.controls.email"
          sclass=" ng-invalid ng-dirty"
        />
        <label for="email"> <i class="pi pi-envelope mr-2"></i>Email:</label>
      </span>
    </div>
    <small class="col-12 mt-2 erro">{{ msgErro }}</small>
  </form>
  <div class="p-4 col-12 row justify-content-center text-center">
    <button (click)="esqueceuSenha()" class="col-4 btn btn-success">
      Recuperar Senha
    </button>
  </div>
</div>
