<p-galleria
  [(value)]="imagens"
  [(visible)]="exibeImagem"
  [(activeIndex)]="indice"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
  [baseZIndex]="100000"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item" style="width: 100%; display: block" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img [src]="item" style="display: block" />
    </div>
  </ng-template>
</p-galleria>
<div *ngIf="imagens" class="col-12 row justify-content-between">
  <!-- <div class="col-12 row justify-content-center"> -->
  <div class="col-12 mt-2 mt-2 borda-img text-center" key="index">
    <img
      [ngStyle]="{ maxWidth: '100%', height: altura }"
      [src]="imagens[0]"
      style="cursor: pointer"
      (click)="abrirImagem(0)"
    />
  </div>
  <div *ngIf="imagens.length > 1">
    <div
      *ngFor="
        let image of imagens.slice(0, this.maxImages - 1);
        let index = index
      "
      class="
        col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6
        mt-2
        borda-img
        text-center
      "
      key="index"
    >
      <img
        [ngStyle]="{ maxWidth: '100%', height: altura }"
        [src]="image"
        style="cursor: pointer"
        (click)="abrirImagem(index)"
      />
    </div>
  </div>
</div>
