@import "../../../../estilos/cores.scss";

small {
  color: $laranja;
}

a {
  font-weight: bold;
}

.icone-senha {
  position: absolute;
  top: 28%;
  right: 5%;
  i {
    color: $azul;
    font-size: 22px;
  }
}

.erro {
  color: $vermelho;
  text-align: center;
}

input {
  background: $branco;
  border: 1px solid $azul;
  // color: $azul;
}

label {
  color: $azul;
}
