@import "../../../../estilos/cores.scss";

small {
  color: $azul;
}

a {
  font-weight: bold;
}

.icone-senha {
  position: absolute;
  top: 30%;
  right: 7%;
  i {
    color: $verde;
    font-size: 22px;
  }
}

.erro {
  color: $vermelho;
  text-align: center;
}
