<div class="container">
  <div class="p-4 text-center mb-2">
    <img width="260px" src="../../../../assets/images/crescer.png" />
  </div>
  <form *ngIf="form" [formGroup]="form" class="p-4 row justify-content-center">
    <div class="col-12">
      <span class="p-float-label">
        <input
          id="email"
          class="col-12"
          type="text"
          pInputText
          [formControl]="form.controls.email"
          sclass=" ng-invalid ng-dirty"
        />
        <label for="email">Email</label>
      </span>
    </div>
    <div class="col-12 mt-5">
      <span class="p-float-label form-inline">
        <input
          id="senha"
          class="col-12"
          [type]="tipoInput"
          pInputText
          [formControl]="form.controls.senha"
          sclass="ng-invalid ng-dirty"
        />
        <label for="senha">Senha</label>
      </span>
      <div class="icone-senha">
        <i [class]="classeIcone" (click)="mostrarSenha()"></i>
      </div>
    </div>
    <small class="col-12 mt-2 erro">{{ msgErro }}</small>
  </form>
  <div class="p-4 col-12 row justify-content-center text-center">
    <button (click)="logIn()" class="col-4 btn btn-success">Entrar</button>

    <small class="col-12 mt-2" (click)="esqueceuSenha()"
      ><a href="javascript:void(0);">Esqueceu a senha?</a></small
    >
    <small (click)="abrirCadastro()" class="col-12 mt-2"
      ><a href="javascript:void(0);">Ainda não tem uma conta?</a>
    </small>
  </div>
</div>
