@import "../../../../estilos/cores.scss";

h3 {
  color: $rosa;
  margin-bottom: 15px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-bottom: 5px;
}

.borda {
  // border: 5px solid $azul;
  // padding-left: 2%;
  // padding-right: 2%;
  // padding-top: 2%;
  // padding-bottom: 2%;
}

// .bg-img {
//   // margin-top: -80px;
//   background-image: url("../../../../assets/images/crescerIcon.jpeg");
//   background-position: center; /* Center the image */
//   background-repeat: no-repeat; /* Do not repeat the image */
//   background-size: contain; /* Resize the background image to cover the entire container */
//   width: 100%;
// }
