@import "../../../../estilos/cores.scss";

h3 {
  color: $azul;
}

p {
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

.borda {
  // border: 5px solid $azul;
  // padding-left: 2%;
  // padding-right: 2%;
  // padding-top: 2%;
  // padding-bottom: 2%;
}

.bg-img {
  // margin-top: -80px;
  background-image: url("../../../../assets/images/crescerIcon.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  width: 100%;
}
