<div class="bg-img">
  <div style="overflow-y: scroll" class="container borda mt-5">
    <h3>QUEM SOMOS?</h3>
    <p>
      A CRESCER DF é uma empresa que trabalha com locação de brinquedos e
      artigos infantis. Nós acreditamos que, se queremos um mundo melhor,
      precisamos investir naquilo que fará dele esse lugar: AS CRIANÇAS! Nesse
      sentido, nosso foco é oportunizar o brincar, acompanhado de momentos de
      lazer e diversão. Acreditamos que o brincar é a principal atividade da
      infância e que, por isso, permite à criança acessar o mundo e aprender
      sobre ele. Por isso, nosso trabalho vai além da brincadeira, ele pretende,
      também, a promoção da aprendizagem e desenvolvimento dos pequenos por meio
      dos recursos lúdicos. Assim, nossos produtos e serviços visam a promoção
      do desenvolvimento integral dos pequenos, respeitando a diversidade e
      considerando as necessidades singulares de cada uma, porque, para nós,
      CADA CRIANÇA É ÚNICA e, por isso, merece atenção especial e voltada para
      suas características individuais. Pensando nisso, oferecemos também o
      serviço de curadoria, por meio do qual ajudamos as famílias no processo de
      escolha dos brinquedos, a qual deve ocorrer não somente em função de sua
      idade, mas, especialmente, em função das aprendizagens já consolidadas, ou
      seja, daquilo que a criança já sabe fazer e o que pode aprender e
      desenvolver. Justamente por isso, nossa proposta não pretende, unicamente,
      o uso espontâneo destes brinquedos, mas, inclui a possibilidade de um uso
      mediado em que, como nosso diferencial, ofereceremos, ainda, orientações
      para as famílias sobre o momento do brincar infantil e sobre a mediação
      que podem realizar junto à criança para otimizar os resultados que estes
      recursos podem oferecer. Ainda, oferecemos informações importantes sobre
      os recursos que estão a levar para casa, para que cada família possa
      conhecer os benefícios que cada recurso lúdico oferece para o
      desenvolvimento do seu pequeno. Por hora, é isso! Mas ainda há muito por
      vir. Venha conhecer a CRESCER e se encante, junto conosco, por esse
      universo maravilhoso que é o desenvolvimento infantil!
    </p>
    <h3>MISSÃO</h3>
    <p>
      Nossa missão é promover a aprendizagem, o desenvolvimento e a saúde mental
      de crianças e adolescentes por meio da ludicidade.
    </p>

    <h3>VISÃO</h3>
    <p>
      Nossa visão é sermos reconhecidos pela qualidade e competência na oferta
      de serviços e produtos lúdicos voltados à promoção da aprendizagem, do
      desenvolvimento pleno e da saúde mental de crianças e adolescentes.
    </p>
    <h3>VALORES</h3>
    <div>
      <p>Os valores que sustentam nossa ação são:</p>
      <ol style="list-style: none">
        <li>
          ❤ Respeito pelas pessoas e suas diferentes condições de
          desenvolvimento;
        </li>
        <li>❤ Ética nas relações e processos;</li>
        <li>
          ❤ Sensibilidade, humanização e empatia no encontro e compreensão do
          outro;
        </li>
        <li>❤ Valorização e promoção da inclusão;</li>
        <li>❤ Atenção integral a partir de um olhar multidisciplinar;</li>
        <li>❤ Compromisso social;</li>
        <li>❤ Competência e eficiência nos serviços oferecidos;</li>
        <li>
          ❤ Valorização do consumo sustentável como filosofia e prática de
          respeito e preservação da natureza.
        </li>
      </ol>
    </div>

    <h3>COMO FUNCIONA?</h3>
    <ol>
      <li>
        Conheça nosso catálogo e escolha o seu brinquedo. Se necessitar, você
        pode contar com nosso serviço de curadoria para identificar a melhor
        opção para o seu pequeno, conforme seu momento de desenvolvimento.
      </li>
      <li>
        Faça seu cadastro. Para que possamos oferecer o melhor atendimento,
        precisamos te conhecer. Por isso, você precisa fazer o seu cadastro.
      </li>
      <li>
        Escolha o período de locação. Trabalhamos com períodos semanais,
        quinzenais e mensais. E olha que legal: nossa mensalidade compreende o
        período de 30 dias e não 28, como praxe do mercado. Ainda temos a opção
        de final de semana, em que você pode receber seu brinquedo na sexta e
        devolver na segunda.
      </li>
    </ol>

    <h3>TERMOS DE USO</h3>
    <p>...</p>

    <h3>POLÍTICA DE PRIVACIDADE</h3>
    <p>...</p>

    <h3>PERGUNTAS FREQUENTES</h3>
    <p>...</p>

    <h3>FALE CONOSCO</h3>
    <p>Whatsapp e Telefone: (61)98301-2219</p>
    <p>Email: ajudandoseufilhoacrescer@gmail.com</p>
    <p>CNPJ: 40.112.852/0001-95</p>
  </div>
  <br />
</div>
