<!-- <div>
  <div class="p-4 text-center"></div>
  <form
    *ngIf="form"
    [formGroup]="form"
    class="p-4 row justify-content-center text-center"
  >
    <input *formControlName="email" />
    <input *formControlName="senha" />
  </form>
  <app-footer>
    <div class="p-4 row">
      <button (click)="logIn()" class="col-12">Entrar</button>
      <small class="col-12">Esqueceu a senha?</small>
      <small class="col-12 mt-4"
        >Ainda não tem uma conta?
      </small>
    </div>
  </app-footer>
</div> -->
