<div class="container">
  <div class="p-4 text-center mb-2">
    <img
      class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6"
      src="../../../../assets/images/crescer.png"
    />
  </div>
  <form
    *ngIf="form"
    [formGroup]="form"
    class="p-4 row justify-content-center"
    autocomplete="off"
    autocomplete="no"
  >
    <!-- <div class="col-6">
      <span class="p-float-label">
        <input
          id="nome"
          class="col-12"
          type="text"
          pInputText
          [formControl]="form.controls.nome"
          sclass=" ng-invalid ng-dirty"
        />
        <label for="nome">Nome:</label>
      </span>
    </div>-->
    <!-- <div class="col-6">
      <span class="p-float-label form-inline">
        <input
          id="nascimento"
          class="col-12"
          type="date"
          pInputText
          [max]="dataMaxima"
          [min]="dataMinima"
          [formControl]="form.controls.nascimento"
          sclass="ng-invalid ng-dirty"
        />
        <label for="nascimento"> Nascimento:</label>
      </span>
    </div> -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <span class="p-float-label">
        <input
          id="email"
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12"
          type="text"
          pInputText
          [formControl]="form.controls.email"
          autocomplete="off"
          autocomplete="no"
          sclass=" ng-invalid ng-dirty"
        />
        <label for="email"> <i class="pi pi-envelope mr-2"></i>Email:</label>
      </span>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 mt-4">
      <span class="p-float-label form-inline">
        <input
          id="senha"
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12"
          [type]="tipoInput"
          pInputText
          [formControl]="form.controls.senha"
          autocomplete="off"
          autocomplete="no"
          sclass="ng-invalid ng-dirty"
        />
        <label for="Confirmarsenha">
          <i class="pi pi-lock mr-2"></i>Senha:
        </label>
      </span>
      <div class="icone-senha">
        <i [class]="classeIcone" (click)="mostrarSenha(1)"></i>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 mt-4">
      <span class="p-float-label form-inline">
        <input
          id="confirmarSenha"
          (keyup)="validarSenhas()"
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12"
          [type]="tipoInput2"
          pInputText
          [formControl]="form.controls.confirmarSenha"
          autocomplete="off"
          autofocus="off"
          sclass="ng-invalid ng-dirty"
        />
        <label for="Confirmarsenha">
          <i class="pi pi-lock mr-2"></i>Confirmar Senha:
        </label>
      </span>
      <div class="icone-senha">
        <i [class]="classeIcone2" (click)="mostrarSenha(2)"></i>
      </div>
    </div>
    <small class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 mt-2 erro">{{
      msgErro
    }}</small>
  </form>
  <div
    class="
      d-flex
      justify-content-center
      p-4
      col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12
      text-center
    "
  >
    <button
      (click)="cadastrar()"
      class="
        text-center
        col-12 col-sm-12 col-md-4 col-lg-4 col-xs-4
        btn btn-success
      "
    >
      Cadastrar
    </button>
  </div>
</div>
