@import "../../../../estilos/cores.scss";

.bg-badge {
  color: $branco;
  border-radius: 35px;
  background: $azul;
  padding-left: 10px;
  padding-right: 10px;
}
.cor-detalhe {
  // color: $azul;
}
