<div class="container-fluid cor-detalhe" #detalhe>
  <div class="row justify-content-between">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
      <app-galeria *ngIf="imagens.length > 0" [imagens]="imagens"></app-galeria>
      <img class="mt-5" height="50" src="/assets/images/crescer.png" />
    </div>
    <div class="col">
      <div class="">
        <span class="col-12 p-4">
          <div class="row justify-content-between mb-5">
            <div
              class="
                col-12 col-sm-12 col-md-6 col-ls-6 col-xl-6
                text-left
                cor-azul
              "
            >
              <i class="pi pi-tag"></i>
              <span *ngIf="categoria">{{ categoria.nome | titlecase }}</span>
            </div>
            <p-badge
              class="col text-right"
              [value]="getSituacaoEstoque(produto.situacao)"
              [severity]="getCorSituacaoEstoque(produto.situacao)"
            ></p-badge>
          </div>
          <!-- <app-scroll altura="110px"> -->
          <h1 class="text-center cor-laranja">{{ produto.nome }}</h1>
          <p class="text-justify mt-5">Descrição: {{ produto.descricao }}</p>
          <!-- <p>Situação : {{ getSituacaoEstoque(produto.situacao) }}</p> -->
          <!-- <p>Categoria: {{ getNomeCategoria(produto.categoria) }}</p> -->
          <div class="row justify-content-between mt-5 text-center">
            <p class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              Faixa Etária: {{ getFaixa(produto.faixa_etaria) }}
            </p>
            <p class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              Valor: {{ getValor() | moeda }}
            </p>
          </div>
          <!-- </app-scroll> -->
        </span>
        <div class="mt-2 p-3 row justify-content-between">
          <span class="col-12 text-center">
            Prazo de Locação:
            <select
              #selectPacote
              class="ml-3 mt-2 mb-2"
              pInputText
              [disabled]="produtoIndisponivel"
              (change)="updateValor(selectPacote.value)"
            >
              <option
                *ngFor="let pacote of produto.pacotes"
                [value]="pacote.id"
              >
                {{ pacote.qtd_dias }} dias
              </option>
            </select>
          </span>
          <div class="col mt-2 text-center">
            <button
              pButton
              type="button"
              label="Alugar"
              icon="pi pi-shopping-cart"
              (click)="continuarComprando()"
              class="
                p-button-sm p-button-warning
                mr-2
                text-light
                col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
              "
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
