<div>
  <div class="d-flex justify-content-between bg-conclusao p-2">
    <div class="form-inline">
      <img
        (click)="goHome()"
        width="100px"
        height="40px"
        src="../../../../assets/images/crescer.png"
      />
      <h2 class="ml-5 mt-2">Estamos quase concluindo a sua compra</h2>
    </div>
    <div class="text-center">
      <i
        style="font-size: 22px"
        (click)="goCarrinho()"
        class="pi pi-times mt-2 mr-2"
      ></i>
    </div>
  </div>
  <div class="row justify-content-center text-center mt-5">
    <div class="col-7 col-sm-7 col-md-7 col-lg-4 col-xl-4">
      <a (click)="abrirPix()">
        <img class="circular" src="/assets/images/pix.jpeg " />
      </a>
      <p>Faz um pix</p>
    </div>
    <div class="col-7 col-sm-7 col-md-7 col-lg-4 col-xl-4">
      <a (click)="abrirMercado()">
        <img class="circular" src="/assets/images/mercadoPago.jpeg " />
      </a>
      <p>Pagar com mercado pago</p>
    </div>
  </div>

  <div
    *ngIf="mercadoOn && urlMercadoPago"
    class="row justify-content-center mt-2"
  >
    <div class="col-11">
      <iframe
        width="100%"
        [height]="altura"
        data-header-color="#c0392b"
        [src]="urlMercadoPago | safe"
      ></iframe>
      <!-- <app-mercado-pago></app-mercado-pago> -->
    </div>
  </div>
  <div *ngIf="pixOn">
    <div class="row justify-content-center mt-5 text-center">
      <div class="col-6 row justify-content-center p-4 bg-conclusao">
        <h3 class="col-12 mb-5">Dados PIX</h3>
        <div class="col">Nome: {{ dadosPix.nome }}</div>
        <div class="col">Chave: {{ dadosPix.chave }}</div>
        <h5 class="col-12 mt-5">
          Por favor, após a realização da transferência, nos envie o comprovante
          da transferência e o número do pedido que foi encaminhado ao seu email
          pelo nosso canal no whatsapp.
        </h5>
        <button
          pButton
          type="button"
          label="Finalizar Compra"
          icon="pi pi-dollar"
          (click)="salvarPedido(true)"
          class="p-button-sm p-button-success mr-2 mt-2 text-light"
        ></button>
      </div>
    </div>
  </div>
</div>

<div style="display: none">
  <div id="NotaFiscalCarrinho" style="text-align: center; padding: 30px 70px">
    <h4>{{ cliente.nome }},</h4>
    <h4>
      Abaixo seguem os dados do seu pedido. Ao efetuar o pagamento, por favor,
      nos envie um comprovante da transação.
    </h4>
    <div
      style="
        background-color: transparent;
        border: 2px solid black;
        min-width: 100%;
      "
    >
      <h4>Dados do PIX</h4>
      <div
        style="
          text-align: start;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 10px;
        "
      >
        <hr />
        <p>Nome: {{ dadosPix.nome }}</p>
        <p>Chave: {{ dadosPix.chave }}</p>
      </div>
    </div>
    <div
      style="
        background-color: transparent;
        border: 2px solid black;
        min-width: 100%;
      "
    >
      <h4>Dados do Pedido</h4>
      <p>Número do Pedido: {{ numeroPedido }}</p>
      <hr />
      <div
        style="
          text-align: start;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 10px;
        "
      >
        <p>Nome do cliente: {{ cliente.nome + " " + cliente.sobrenome }}</p>
        <p>CPF: {{ cliente.cpf | cpf }}</p>
        <p>Telefone: {{ formatarTelefone(cliente.telefone) }}</p>
        <p>Endereço: {{ formatarEndereco(cliente) }}</p>
      </div>
      <div
        *ngFor="let obj of objetoEnvio.produtos"
        style="
          text-align: start;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 10px;
        "
      >
        <hr />
        <p>Nome: {{ obj.nome }}</p>
        <p>Descrição: {{ obj.descricao }}</p>
        <p>Categoria: {{ getNomeCategoria(obj.categoria) }}</p>
        <p>Pacote: {{ getQtdDiasPacote(obj.pacotes, obj.pacote) }} dia(s)</p>
        <p>Quantidade: {{ obj.quantidade }}</p>
        <p>Valor: {{ getValor(obj) }}</p>
      </div>
      <hr />
      <h4>
        Total do Pedido:
        {{ getValorTotal(objetoEnvio.produtos) | moeda }}
      </h4>
      <br /><br /><br />

      <small
        >Caso precise de mais informações entre em contato conosco por algum dos
        nossos canais.</small
      ><br />
      <ul>
        <li class="info-web">
          <a href="https://crescerdf.com/"> wwww.crescerdf.com</a>
        </li>
        <li class="info-phone">
          <a href="tel:61983012219">(61) 98301-2219</a>
        </li>
        <li class="info-mail">
          <a href="mailto:ajudandoseufilhoacrescer@gmail.com"
            >ajudandoseufilhoacrescer@gmail.com</a
          >
        </li>
        <li class="info-face">
          <a href=" https://www.facebook.com/crescerdf/">
            https://www.facebook.com/crescerdf/</a
          >
        </li>
        <li class="info-insta">
          <a href="https://instagram.com/crescerdf?utm_medium=copy_link"
            >https://instagram.com/crescerdf?utm_medium=copy_link</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
