@import "../../../../estilos/cores.scss";

.bg-conclusao {
  background: $azul;
  color: $branco;
}

i,
img {
  cursor: pointer;
}

.circular {
  border: 1px solid $azul;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
