<div>
  <div class="d-flex justify-content-between bg-conclusao p-2">
    <div class="form-inline">
      <img
        (click)="goHome()"
        width="100px"
        height="40px"
        src="../../../../assets/images/crescer.png"
      />
      <h2 class="ml-5 mt-2">Estamos quase concluindo a sua compra</h2>
    </div>
    <div class="text-center">
      <i
        style="font-size: 22px"
        (click)="goCarrinho()"
        class="pi pi-times mt-2 mr-2"
      ></i>
    </div>
  </div>
  <div *ngIf="urlMercadoPago" class="row justify-content-center mt-2">
    <div class="col-11">
      <iframe
        width="100%"
        [height]="altura"
        data-header-color="#c0392b"
        [src]="urlMercadoPago | safe"
      ></iframe>
    </div>
  </div>
</div>
