<div class="mt-2 bg-rodape">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 borda-lateral">
      <h3>Links Úteis</h3>
      <div class="mt-2">
        <ul>
          <li class="info-insta">
            <i class="fa fa-instagram"></i>
            <a href="https://instagram.com/crescerdf?utm_medium=copy_link"
              >Perguntas Frequentes</a
            >
          </li>
          <li class="info-face">
            <i class="fa fa-facebook"></i>
            <a href=" https://www.facebook.com/crescerdf/"> Como Alugar</a>
          </li>
          <li class="info-insta">
            <i class="fa fa-instagram"></i>
            <a href="https://instagram.com/crescerdf?utm_medium=copy_link"
              >Dialogando</a
            >
          </li>
          <li class="info-cnpj">
            <a href="javascript:void(0);"> CNPJ: 40.112.852/0001-95</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 margin-lateral">
      <h3>Contatos</h3>
      <div class="mt-2">
        <ul>
          <li class="info-time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <a href="javascript:void(0);"
              >Segunda à sexta: das 10h às 13h | 14h às 18h</a
            >
          </li>
          <li class="info-mail">
            <i class="fa fa-envelope" aria-hidden="true"></i
            ><a href="mailto:ajudandoseufilhoacrescer@gmail.com"
              >ajudandoseufilhoacrescer@gmail.com</a
            >
          </li>
          <li class="info-face">
            <i class="fa fa-facebook"></i>
            <a href=" https://www.facebook.com/crescerdf/">
              https://www.facebook.com/crescerdf/</a
            >
          </li>
          <li class="info-insta">
            <i class="fa fa-instagram"></i>
            <a href="https://instagram.com/crescerdf?utm_medium=copy_link"
              >https://instagram.com/crescerdf?utm_medium=copy_link</a
            >
          </li>
          <li class="info-web">
            <i class="fa fa-globe" aria-hidden="true"></i
            ><a href="https://crescerdf.com/"> wwww.crescerdf.com</a>
          </li>
          <li class="info-phone">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:61983012219">(61) 98301-2219</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
