<div class="text-center mt-5">
  <div class="justify-content-between">
    <div>
      <h4>Contatos</h4>
      <p>Whatsapp e Telefone: (61)98301-2219</p>
      <p>
        Instagram:
        <a href="https://instagram.com/crescerdf?utm_medium=copy_link"
          >https://instagram.com/crescerdf?utm_medium=copy_link</a
        >
      </p>
      <p>
        Facebook:
        <a href=" https://www.facebook.com/crescerdf/">
          https://www.facebook.com/crescerdf/</a
        >
      </p>

      <p>
        Email:
        <a href="ajudandoseufilhoacrescer@gmail.com"
          >ajudandoseufilhoacrescer@gmail.com</a
        >
      </p>
      <p>CNPJ: 40.112.852/0001-95</p>
    </div>
  </div>
</div>
