<div style="overflow-y: scroll" class="container borda mt-5">
  <div>
    <h3>COMO ALUGAR?</h3>
    <ol>
      <li>
        <b>Conheça nosso catálogo e escolha o seu brinquedo.</b>
        <p>
          Se necessitar, você pode contar com nosso serviço de curadoria para
          identificar a melhor opção para o seu pequeno, conforme seu momento de
          desenvolvimento.
        </p>
      </li>
      <li>
        <b>Faça seu cadastro. </b>
        <p>
          Para que possamos oferecer o melhor atendimento, precisamos te
          conhecer. Por isso, você precisa fazer o seu cadastro.
        </p>
      </li>
      <li>
        <b>Escolha o período de locação. </b>
        <p>Trabalhamos com períodos semanais, quinzenais e mensais.</p>

        <p>
          E olha que legal: nossa mensalidade compreende o período de 30 dias e
          não 28, como praxe do mercado.
        </p>

        <p>
          Ainda temos a opção de final de semana, em que você pode receber seu
          brinquedo na sexta e devolver na segunda.
        </p>

        <p>
          O período de locação começa a contar a partir da data de entrega do
          brinquedo.
        </p>

        <p>
          Se liga nessa dica! Quanto maior o tempo que você loca, mais economia
          você faz.
        </p>
      </li>
      <li>
        <b> Calcule o valor da taxa de entrega. </b>
        <p>
          Nós somos uma empresa virtual e, por isso, trabalhamos apenas com
          entregas.
        </p>
        <p>Escolha uma das regiões cadastradas e clique em calcular.</p>
        <p>
          A taxa de entrega compreende um valor único, que cobre a entrega e
          retirada dos brinquedos locados.
        </p>
      </li>
      <!-- <li>

        <b> Você tem um cupom promocional?</b>

        <p>Se você tiver um cupom promocional,
        insira seu código no campo correspondente e clique em atualizar. </p>
        <p></p>Para
        ter acesso aos cupons promocionais e descontos e condições exclusivas de
        locação, participe do nosso Grupo VIP no Whatsapp.
      </li> -->
      <li>
        <b> Finalize sua locação </b>
        <p>
          Confira as informações e valores. Caso esteja tudo ok, você pode
          clicar em finalizar a locação.
        </p>
      </li>
      <li>
        <b> Faça o pagamento</b>
        <p>
          Você pode optar por pagar em pix, transferência ou cartão. O pagamento
          sendo compensado, sua locação é encaminhada para a etapa de entrega.
        </p>
        <p>
          No momento, estamos trabalhando apenas com pagamentos via Pix e
          Dinheiro.
        </p>
      </li>
      <li>
        <b>Validando sua locação </b>
        <p>
          Você receberá um e-mail com todos os dados de sua locação. Em breve,
          entraremos em contato com você para agendarmos a entrega.
        </p>
      </li>
      <li>
        <b>Devolvendo os brinquedos </b>
        <p>
          Com até 3 dias de antecedência, entraremos em contato com você para
          confirmarmos a devolução. Você pode optar por renovar ou substituir o
          brinquedo. Em ambos os cados, você tem um desconto de 10% sobre o
          valor da locação. Para substituição você tem 50% de desconto na taxa
          de entrega.
        </p>
        <p>A retirada dos brinquedos ocorre no mesmo endereço da entrega.</p>
      </li>
    </ol>
    <br />
    <br />
    <br />
  </div>
</div>
