<div style="overflow-y: scroll" class="container borda mt-5">
  <div>
    <h3>COMO ALUGAR?</h3>
    <ol>
      <li>
        Conheça nosso catálogo e escolha o seu brinquedo. Se necessitar, você
        pode contar com nosso serviço de curadoria para identificar a melhor
        opção para o seu pequeno, conforme seu momento de desenvolvimento.
      </li>
      <li>
        Faça seu cadastro. Para que possamos oferecer o melhor atendimento,
        precisamos te conhecer. Por isso, você precisa fazer o seu cadastro.
      </li>
      <li>
        Escolha o período de locação. Trabalhamos com períodos semanais,
        quinzenais e mensais. E olha que legal: nossa mensalidade compreende o
        período de 30 dias e não 28, como praxe do mercado. Ainda temos a opção
        de final de semana, em que você pode receber seu brinquedo na sexta e
        devolver na segunda. O período de locação começa a contar a partir da
        data de entrega do brinquedo. Se liga nessa dica! Quanto maior o tempo
        que você loca, mais economia você faz.
      </li>
      <li>
        Calcule o valor da entrega Nós somos uma empresa virtual e, por isso,
        trabalhamos apenas com entregas. Insira seu CEP no campo correspondente
        e clique em calcular. A taxa de entrega compreende um valor único, que
        cobre a entrega e retirada dos brinquedos locados.
      </li>
      <li>
        Você tem um cupom promocional? Se você tiver um cupom promocional,
        insira seu código no campo correspondente e clique em atualizar. Para
        ter acesso aos cupons promocionais e descontos e condições exclusivas de
        locação, participe do nosso Grupo VIP no Whatsapp.
      </li>
      <li>
        Finalize sua locação Confira as informações e valores. Caso esteja tudo
        ok, você pode clicar em finalizar a locação.
      </li>
      <li>
        Faça o pagamento Você pode optar por pagar em pix, transferência ou
        cartão. O pagamento sendo compensado, sua locação é encaminhada para a
        etapa de entrega.
      </li>
      <li>
        Validando sua locação Você receberá um e-mail com todos os dados de sua
        locação. Em breve, entraremos em contato com você para agendarmos a
        entrega.
      </li>
      <li>
        Devolvendo os brinquedos Com até 3 dias de antecedência, entraremos em
        contato com você para confirmarmos a devolução. Você pode optar por
        renovar ou substituir o brinquedo. Neste caso, você tem um bônus de 10%
        sobre o valor da locação. A retirada dos brinquedos ocorre no mesmo
        endereço da entrega.
      </li>
    </ol>
    <br />
    <br />
    <br />
  </div>
</div>
