@import "../../../../estilos/cores.scss";

.bg-header {
  background: $branco;
  // border-bottom: 1px solid #46aef7;
}

.buttons {
}

button {
  border: none;
  background: none;
  color: $roxo;
  // font-size: 4px !important;
  padding: 7px !important;
  word-wrap: break-word;
  // word-break: break-all;
}

button.selecionado {
  background: $roxo !important;
  color: $branco;
  border-radius: 5px;
  padding: 7px !important;
}

button.btn-tela:hover {
  background: $roxo !important;
  color: $branco;
  border-radius: 5px;
  padding: 7px !important;
}

button.btn-tela:focus {
  background: $roxo !important;
  color: $branco !important;
  border-radius: 5px;
  padding: 7px !important;
}

:host {
  ::ng-deep p-toolbar div.app-header.p-toolbar.p-component {
    // background: $verde !important;
  }
}
