@import "../../../../estilos/cores.scss";

.bg-header {
  // border-bottom: 1px solid #46aef7;
}

button {
  border: none;
  background: none;
  color: $roxo;
  font-size: 20px;
  padding: 12px;
}

button.selecionado {
  background: $roxo !important;
  color: $branco;
  border-radius: 5px;
  padding: 12px;
}

button.btn-tela:hover {
  background: $roxo !important;
  color: $branco;
  border-radius: 5px;
  padding: 12px;
}

button.btn-tela:focus {
  background: $roxo !important;
  color: $branco !important;
  border-radius: 5px;
  padding: 12px;
}

:host {
  ::ng-deep p-toolbar div.app-header.p-toolbar.p-component {
    // background: $verde !important;
  }
}
