<div style="overflow-y: scroll" class="container borda mt-5">
  <div>
    <h3>HIGIENIZAÇÃO</h3>
    <p>
      Você já pensou como o melhor amigo do seu pequeno pode ser o esconderijo
      de grandes inimigos à saúde dele? Por isso, devemos estar sempre atentos
      às condições de limpeza dos brinquedos para que esses grandes inimigos,
      porém, invisíveis, não comprometam a saúde e a alegria das crianças.
    </p>
    <p>
      E com a CRESCER, você não precisa se preocupar com a limpeza dos
      brinquedos e a saúde do seu pequeno, pois seguimos criteriosamente os
      protocolos de limpeza indicados para cada tipo de brinquedo, por seu
      material de fabricação.
    </p>
    <p>
      Aproveitamos para compartilhar com vocês as principais orientações de
      lavagem que podem te ajudar a cuidar dos brinquedos que seu pequeno tem aí
      na sua casa.
    </p>
    <p>Confira as dicas a seguir!</p>

    <div class="container">
      <ol>
        <li>
          Brinquedos de madeira
          <br />
          Você pode passar uma esponja com sabão neutro, sem encharcar e, em
          seguida, limpar com um pano seco.
        </li>
        <li>
          Brinquedos em MDF
          <br />
          Você pode limpar com um pano levemente umedecido, mas evite o contato
          com a água, pois ele pode mofar e perder a forma.
        </li>
        <li>
          Brinquedos de metal
          <br />
          Você pode limpar com um pano umedecido em álcool 70%. A depender da
          peça, você pode lavar com água e sabão.<br />
          Lembre-se sempre de verificar a existência de ferrugem no brinquedo.
          Nestes casos, o brinquedo deve ser descartado.
        </li>
        <li>
          Brinquedos de plástico ou borracha
          <br />
          Você pode lavar o brinquedo com água e sabão neutro. Mas atenção!
          Cuidados com as peças que contém adesivos, pois eles podem ser
          danificados durante a limpeza.
        </li>
        <li>
          Brinquedos de pelúcia
          <br />
          Você pode lavar o brinquedo com água e sabão neutro. É importante que
          você deixe o brinquedo secar totalmente, antes de devolvê-los ao
          espaço do brincar. <br />Evite lavar em dias chuvosos e úmidos e
          deixá-los expostos ao tempo por longos períodos para que não acumulem
          novos resíduos e microrganismos.
        </li>
        <li>
          Brinquedos eletrônicos
          <br />
          Você pode fazer a limpeza com um pano levemente umedecido, em toda a
          parte exterior. <br />Para alcançar as partes mais inacessíveis, você
          pode utilizar escovinhas e cotonetes.
        </li>
        <li>
          Brinquedos de banho<br />
          Lave-os com água e sabão a cada uso. Não se esqueça de retirar toda a
          água deles.<br />
        </li>
      </ol>
    </div>
    <p>
      E ATENÇÃO! <br />Deixe sempre secar naturalmente e não se esqueça de
      passar álcool 70% neles (exceto para madeira e mdf).<br />
      Faça limpezas periódicas e, durante o procedimento, realize inspeções,
      verificado as condições de uso e segurança. <br />Também faça a
      conferência e troca das pilhas com frequência.<br /><br />
      Depois de tudo limpinho, é só aproveitar e se divertir!<br />
    </p>
  </div>
  <br />
  <br />
  <br />
</div>
