/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./estilos/cores.scss";
@import "./estilos/prime.scss";

@font-face {
  font-family: fredoka;
  src: url(./assets/fonts/fredoka/FredokaOne-Regular.ttf);
}

* {
  font-family: fredoka, sans-serif;
}

html,
body {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.header {
  background: $branco !important;
  z-index: 10;
  width: 100% !important;
  top: 0;
}

@media screen and (min-width: 50rem) {
  .header {
    position: fixed !important;
  }
  .body {
    margin-top: 200px !important;
  }
}

@media screen and (max-width: 50rem) {
  .header {
    position: sticky !important;
  }
}

// @media screen and (max-height: 640px) {
//   .header {
//     position: sticky !important;
//   }
// }

// @media screen and (min-height: 650px) and (max-height: 740px) {
//   .header {
//     position: fixed !important;
//   }
//   body {
//     margin-top: 400px !important;
//   }
// }

// @media screen and (min-height: 745px) {
//   .header {
//     position: fixed !important;
//   }
//   body {
//     margin-top: 100px !important;
//   }
// }

.borda-separacao {
  margin-top: 10px;
  // margin-bottom: 15px;
  border: 5px solid $verde;
  width: 100%;
}

.pi {
  font-family: "primeicons" !important;
}

.p-toast {
  width: 20rem !important;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.cor-azul {
  color: $azul;
}

.cor-amarela {
  color: $amarelo;
}
.cor-vermelha {
  color: $vermelho;
}
.cor-verde {
  color: $verde;
}
.cor-roxa {
  color: $roxo;
}
.cor-laranja {
  color: $laranja;
}

.borda-azul {
  border: 1px solid $azul;
}

.borda-amarela {
  border: 1px solid $amarelo;
}
.borda-vermelha {
  border: 1px solid $vermelho;
}
.borda-verde {
  border: 1px solid $verde;
}
.borda-roxa {
  border: 1px solid $roxo;
}
.borda-laranja {
  border: 1px solid $laranja;
}
